#aboutDialog {
    width: 620px;
}

#bottomBox {
    padding: 15px 10px 0;
}

#productName {
    color: grey;
    font-size: xx-large;
}

#appVersion {
    margin-top: 10px;
    -moz-margin-start: 0;
}

#platformVersion {
    margin-bottom: 10px;
    -moz-margin-start: 0;
}

.text-blurb {
    margin-bottom: 10px;
    -moz-margin-start: 0;
    -moz-padding-start: 0;
}

.trademark-label,.text-link,.text-link:focus {
    margin: 0px;
    padding: 0px;
}

.bottom-link,.bottom-link:focus {
    text-align: center;
    margin: 0 40px;
}

#descriptionBox {
    background-color: #F7F7F7;
    color: #222222;
}

#leftBox {
    background-image:
        url("chrome://dcpoffline/content/images/about-logo.png");
    background-repeat: no-repeat;
    /* min-width and min-height create room for the logo */
    min-width: 210px;
    min-height: 210px;
    margin-top: 20px;
    -moz-margin-start: 30px;
}

#rightBox {
    margin-left: 30px;
    margin-right: 30px;
}

#trademark {
    font-size: xx-small;
    text-align: center;
    color: #999999;
    margin-top: 10px;
    margin-bottom: 10px;
}