dcpDocument {
    display: -moz-box;
    -moz-box-orient: vertical;
    overflow-y: auto;
    width: 100%;
    background-color: white;
}

dcpDocMenu {
    display: -moz-box;
    width: 100%;
    -moz-box-orient: horizontal;
}

dcpDocHeader {
    display: -moz-box;
    -moz-box-orient: horizontal;
    width: 100%;
}

document-title{
    -moz-box-flex: 1;
    border-bottom: 1px solid #CCCCCC;
    color: #003366;
    font-size: 1.6em;
    font-weight: normal;
}

dcpAttribute {
    display: -moz-box;
    -moz-box-orient: horizontal;
    width: 100%;
}

.dcpLabel[mode=edit][required=true] {
    font-weight: bold;
}

dcpAttribute[type=text],
dcpAttribute[type=longtext],
dcpAttribute[type=color],
dcpAttribute[type=int],
dcpAttribute[type=double],
dcpAttribute[type=money],
dcpAttribute[type=timestamp],
dcpAttribute[type=date],
dcpAttribute[type=time],
dcpAttribute[type=docid],
dcpAttribute[type=enum],
dcpAttribute[type=file],
dcpAttribute[type=image] {
    -moz-box-align: center;
}

dcpDateTimePicker {
    display: -moz-box;
    -moz-box-orient: horizontal;
}

dcpAttribute[type=longtext] textarea{
    resize:vertical;
}

dcpRow{
    display: -moz-grid-line
}

dcpArrayRowTools,
dcpArrayTableTools{
    display: -moz-inline-box;
    min-width: 0;
}

dcpAttribute[type=array] dcpAttribute {
    min-height: 24px;
}

dcpAttribute[type=frame] {
    -moz-box-orient: vertical;
}

dcpAttribute[type=frame] groupbox {
    width: 100%;
}

dcpAttribute[mode=edit][type=htmltext]{
    min-height: 350px;
}

.dcpLabel {
    width: 100px;
}

dcpAttribute .link {
    color: #2d1b9b; /* dark blue */
    cursor: pointer;
}

dcpAttribute[type=htmltext] a{
    color: #2d1b9b; /* dark blue */
}

.dcpImage {
    max-width:100px;
   
}

.dcpValue { 
    -moz-box-flex: 1;
}

dcpDocFooter {
    display: -moz-box;
    width: 100%;
}

.dcpIcon {
    width:16px;
    height:16px;    
}
dcpAttribute[type=docid] image {
    width:20px;
    height:20px;
}

dcpAttribute[type=array] grid {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: -moz-use-text-color;
    
    -moz-border-image: none;
    -moz-border-top-colors: threedshadow threeddarkshadow;
    -moz-border-right-colors: threedhighlight threedlightshadow;
    -moz-border-bottom-colors: threedhighlight threedlightshadow;
    -moz-border-left-colors: threedshadow threeddarkshadow;
    
    background-color: -moz-field;
    color: -moz-fieldtext;
}

dcpRow{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: -moz-use-text-color;
    
    -moz-border-image: none;
    -moz-border-top-colors: threedshadow threeddarkshadow;
    -moz-border-right-colors: threedhighlight threedlightshadow;
    -moz-border-bottom-colors: threedhighlight threedlightshadow;
    -moz-border-left-colors: threedshadow threeddarkshadow;
    
    background-color: -moz-field;
    color: -moz-fieldtext;
}

dcpAttribute[nolabel=true] .dcpLabel,
dcpAttribute[nolabel=true] .dcpSeparator,
dcpAttribute[type=enum] grid .dcpLabel,
dcpAttribute[type=enum] grid .dcpSeparator,
dcpAttribute[type=array] grid .dcpLabel,
dcpAttribute[type=array] grid .dcpSeparator,
dcpAttribute[type=docid] grid .dcpLabel,
dcpAttribute[type=docid] grid .dcpSeparator {
    visibility: collapse;
}

dcpDocument dcpAttribute[type=array] grid .header {
    -moz-appearance: treeheadercell;
    -moz-box-align: center;
    text-align: center;
}
dcpDocument .dcpChooseDocid {
    font-style: italic;
}

.array-row-tools,
.array-table-tools {
    -moz-box-align: center;
}

.simple-button {
    min-width: 0;
    -moz-box-pack: center;
}

dcpAttribute[mode=edit][type=file] hbox,
dcpAttribute[mode=edit][type=image] hbox {
    -moz-box-align: center;
}

button.delete {
    list-style-image: url("chrome://dcpoffline/content/images/button_cancel-16.png");
}

button.delete-row {
    list-style-image: url("chrome://dcpoffline/content/images/delete_table_row-16.png");
}

button.add-row {
    list-style-image: url("chrome://dcpoffline/content/images/insert_table_row-16.png");
}