/***********************************************************
        Box model
************************************************************/
dcpDocument {
    display: -moz-box;
    -moz-box-orient: vertical;
    overflow-y: auto;
    width: 100%;
    background-color: white;
}

dcpDocument dcpDocMenu {
    display: -moz-box;
    width: 100%;
    -moz-box-orient: horizontal;
}

dcpDocument dcpDocHeader {
    display: -moz-box;
    -moz-box-orient: horizontal;
    width: 100%;
}

dcpDocument dcpDocHeader .title{
    -moz-box-flex: 1;
    border-bottom: 1px solid #CCCCCC;
    color: #003366;
    font-size: 1.6em;
    font-weight: normal;
}

dcpDocument dcpAttribute {
    display: -moz-box;
    -moz-box-orient: horizontal;
    width: 100%;
}

dcpAttribute[type=text],
dcpAttribute[type=longtext],
dcpAttribute[type=color],
dcpAttribute[type=int],
dcpAttribute[type=double],
dcpAttribute[type=money],
dcpAttribute[type=timestamp],
dcpAttribute[type=date],
dcpAttribute[type=time],
dcpAttribute[type=docid],
dcpAttribute[type=enum],
dcpAttribute[type=file],
dcpAttribute[type=image] {
    -moz-box-align: center;
}

dcpDateTimePicker {
    display: -moz-box;
    -moz-box-orient: horizontal;
}

dcpAttribute[type=longtext] textbox textarea{
    resize:vertical;
}
dcpDocument dcpAttribute[type=array] dcpRow{
    display: -moz-grid-line
}

dcpDocument dcpAttribute[type=array] dcpRow dcpArrayRowTools,
dcpDocument dcpAttribute[type=array] dcpArrayTableTools{
    display: -moz-inline-box;
    min-width: 0;
}

dcpDocument dcpAttribute[type=array] dcpAttribute {
    min-height: 24px;
}

dcpDocument dcpAttribute[type=frame] {
    -moz-box-orient: vertical;
}

dcpDocument dcpAttribute[type=frame] groupbox {
    width: 100%;
}

dcpDocument[mode=edit] dcpAttribute[type=htmltext]{
    min-height: 350px;
}

dcpDocument dcpAttribute .dcpLabel {
    width: 100px;
}

dcpDocument dcpAttribute .link {
    color: #2d1b9b; /* dark blue */
    cursor: pointer;
}

dcpDocument dcpAttribute[type=htmltext] a{
    color: #2d1b9b; /* dark blue */
}

dcpDocument dcpAttribute .dcpImage {
    max-width:100px;
   
}

dcpDocument dcpAttribute .dcpValue { 
    -moz-box-flex: 1;
}

dcpDocument dcpDocFooter {
    display: -moz-box;
    width: 100%;
}

dcpDocument .dcpIcon {
    width:16px;
    height:16px;    
}
dcpDocument dcpAttribute[type=docid] image {
    width:20px;
    height:20px;
}

dcpDocument dcpAttribute[type=array] grid {
    /*border-top-width: 2px;
    border-top-style: solid;
    border-top-color: -moz-use-text-color;*/
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: -moz-use-text-color;
    
    -moz-border-image: none;
    -moz-border-top-colors: threedshadow threeddarkshadow;
    -moz-border-right-colors: threedhighlight threedlightshadow;
    -moz-border-bottom-colors: threedhighlight threedlightshadow;
    -moz-border-left-colors: threedshadow threeddarkshadow;
    
    background-color: -moz-field;
    color: -moz-fieldtext;
}

dcpDocument dcpAttribute[type=array] grid dcpRow{
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: -moz-use-text-color;
    
    -moz-border-image: none;
    -moz-border-top-colors: threedshadow threeddarkshadow;
    -moz-border-right-colors: threedhighlight threedlightshadow;
    -moz-border-bottom-colors: threedhighlight threedlightshadow;
    -moz-border-left-colors: threedshadow threeddarkshadow;
    
    background-color: -moz-field;
    color: -moz-fieldtext;
}

dcpDocument dcpAttribute[nolabel=true] .dcpLabel,
dcpDocument dcpAttribute[nolabel=true] .dcpSeparator,
dcpDocument dcpAttribute[type=enum] grid dcpAttribute .dcpLabel,
dcpDocument dcpAttribute[type=enum] grid dcpAttribute .dcpSeparator,
dcpDocument dcpAttribute[type=array] grid dcpAttribute .dcpLabel,
dcpDocument dcpAttribute[type=array] grid dcpAttribute .dcpSeparator,
dcpDocument dcpAttribute[type=docid] grid dcpAttribute .dcpLabel,
dcpDocument dcpAttribute[type=docid] grid dcpAttribute .dcpSeparator {
    visibility: collapse;
}

dcpDocument dcpAttribute[type=array] grid .header {
    -moz-appearance: treeheadercell;
    -moz-box-align: center;
    text-align: center;
}
dcpDocument .dcpChooseDocid {
    font-style: italic;
}

dcpDocument[mode=edit] dcpAttribute[type=array] .array-row-tools,
dcpDocument[mode=edit] dcpAttribute[type=array] .array-table-tools {
    -moz-box-align: center;
}

dcpDocument[mode=edit] dcpAttribute[type=array] .array-row-tools button,
dcpDocument[mode=edit] dcpAttribute[type=array] .array-table-tools button {
    min-width: 0;
    -moz-box-pack: center;
}

dcpDocument[mode=edit] dcpAttribute[type=array] .array-row-tools button.delete {
    list-style-image: url("chrome://dcpoffline/content/images/delete_table_row-16.png");
}

dcpDocument[mode=edit] dcpAttribute[type=array] .array-table-tools button.add,
dcpDocument[mode=edit] dcpAttribute[type=array] .array-row-tools button.add {
    list-style-image: url("chrome://dcpoffline/content/images/insert_table_row-16.png");
}

dcpDocument[mode=edit] dcpAttribute[type=file] hbox,
dcpDocument[mode=edit] dcpAttribute[type=image] hbox {
    -moz-box-align: center;
}

dcpDocument[mode=edit] dcpAttribute[type=file] button,
dcpDocument[mode=edit] dcpAttribute[type=image] button,
dcpDocument[mode=edit] dcpAttribute[type=enum] button {
    min-width: 0;
    -moz-box-pack: center;
}

dcpDocument[mode=edit] dcpAttribute[type=file] button.delete,
dcpDocument[mode=edit] dcpAttribute[type=image] button.delete,
dcpDocument[mode=edit] dcpAttribute[type=enum] button.delete {
    list-style-image: url("chrome://dcpoffline/content/images/button_cancel-16.png");
}
/***********************************************************
        Validity
************************************************************/
/*
span.validator {
   width: 16px;
   height: 16px;
   display: inline-block;
   background-size: 100%, 100%;
 }
 :-moz-ui-valid + span {
   background-image: url("images/valid.png");
 }
 :-moz-ui-invalid + span {
   background-image: url("images/invalid.png");
 }
*/