/***********************************************************
        Not yet implemented
************************************************************/
dcpAttribute[type=menu] {
    border: 1px solid red;
    background: yellow;
    min-height: 24px;
}

/***********************************************************
        Box model
************************************************************/
dcpDocument {
    display: -moz-box;
    -moz-box-orient: vertical;
    overflow-y: auto;
    width: 100%;
}

dcpDocument dcpDocMenu {
    display: -moz-box;
    width: 100%;
}

dcpDocument dcpAttribute {
    display: -moz-box;
    -moz-box-orient: horizontal;
    width: 100%;
}

dcpDocument dcpAttribute[type=array] dcpRow{
    display: -moz-grid-line
}

dcpDocument dcpAttribute[type=array] dcpRow dcpArrayRowTools,
dcpDocument dcpAttribute[type=array] dcpArrayTableTools{
    display: -moz-inline-box;
    min-width: 0;
}

dcpDocument dcpAttribute[type=frame] {
    -moz-box-orient: vertical;
}

dcpDocument dcpAttribute[type=frame] groupbox {
    width: 100%;
}

dcpDocument[mode=edit] dcpAttribute[type=htmltext]{
    min-height: 350px;
}

dcpDocument dcpAttribute .dcpLabel {
    width: 100px;
}

dcpDocument dcpAttribute .link {
    color: blue;
    cursor: pointer;
}

dcpDocument dcpAttribute[type=htmltext] a{
    color: blue;    
}

dcpDocument dcpAttribute .dcpImage {
    width:100px;
   
}
dcpDocument dcpAttribute .dcpValue { 
    -moz-box-flex: 1;
    
}

dcpDocument dcpDocHeader {
    display: -moz-box;
    width: 100%;
}

dcpDocument dcpDocFooter {
    display: -moz-box;
    width: 100%;
}


dcpDocument dcpAttribute[type=array] grid {
    /*border-top-width: 2px;
    border-top-style: solid;
    border-top-color: -moz-use-text-color;*/
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: -moz-use-text-color;
    
    -moz-border-image: none;
    -moz-border-top-colors: threedshadow threeddarkshadow;
    -moz-border-right-colors: threedhighlight threedlightshadow;
    -moz-border-bottom-colors: threedhighlight threedlightshadow;
    -moz-border-left-colors: threedshadow threeddarkshadow;
    
    background-color: -moz-field;
    color: -moz-fieldtext;
}

dcpDocument dcpAttribute[type=enum] grid dcpAttribute .dcpLabel,
dcpDocument dcpAttribute[type=enum] grid dcpAttribute .dcpSeparator,
dcpDocument dcpAttribute[type=array] grid dcpAttribute .dcpLabel,
dcpDocument dcpAttribute[type=array] grid dcpAttribute .dcpSeparator,
dcpDocument dcpAttribute[type=docid] grid dcpAttribute .dcpLabel,
dcpDocument dcpAttribute[type=docid] grid dcpAttribute .dcpSeparator {
    visibility: collapse;
}

dcpDocument dcpAttribute[type=array] grid .header {
    -moz-appearance: treeheadercell;
    -moz-box-align: center;
    text-align: center;
}

dcpDocument[mode=edit] dcpAttribute[type=array] .array-row-tools button,
dcpDocument[mode=edit] dcpAttribute[type=array] .array-table-tools button{
    min-width: 0;
    min-height: 0;
    -moz-box-pack: center;
}

dcpDocument[mode=edit] dcpAttribute[type=array] .array-row-tools button.delete{
    list-style-image: url("chrome://dcpoffline/content/images/delete_table_row-16.png");
}

dcpDocument[mode=edit] dcpAttribute[type=array] .array-table-tools button.add{
    list-style-image: url("chrome://dcpoffline/content/images/insert_table_row-16.png");
}
/***********************************************************
        Validity
************************************************************/
/*
span.validator {
   width: 16px;
   height: 16px;
   display: inline-block;
   background-size: 100%, 100%;
 }
 :-moz-ui-valid + span {
   background-image: url("images/valid.png");
 }
 :-moz-ui-invalid + span {
   background-image: url("images/invalid.png");
 }
*/