/***********************************************************
        Document
************************************************************/
dcpDocument {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/documents.xml#document");
}

/***********************************************************
        Menu
************************************************************/
dcpDocument dcpDocMenu {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/menus.xml#doc-main-menu");
}

/***********************************************************
        Header
************************************************************/
dcpDocument dcpDocHeader {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/docHeader.xml#doc-header");
}

/***********************************************************
        Footer
************************************************************/
dcpDocument dcpDocFooter {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/docFooter.xml#doc-footer");
}
/***********************************************************
        Label Attribute
************************************************************/
dcpDocument dcpAttributeLabel {
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/base-attributes.xml#label-attribute");
}
/***********************************************************
        Node Attributes (view)
************************************************************/
dcpDocument dcpAttribute[type=tab],dcpDocument[mode=view] dcpAttribute[type=tab]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-view.xml#tab-attr-view");
}

dcpDocument dcpAttribute[type=frame],dcpDocument[mode=view] dcpAttribute[type=frame]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-view.xml#frame-attr-view");
}

dcpDocument dcpAttribute[type=array],dcpDocument[mode=view] dcpAttribute[type=array]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-view.xml#array-attr-view");
}

/*
dcpDocument[mode=view] dcpAttribute[type=array]  dcpAttribute[inhead=true]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-view.xml#array-attr-header");
}

dcpDocument[mode=view] dcpAttribute[type=array] dcpAttribute[inbody=true]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-view.xml#array-attr-body");        
    
}
*/
/***********************************************************
        Leaf Attributes (view)
************************************************************/
dcpDocument dcpAttribute[type=text],dcpDocument[mode=view] dcpAttribute[type=text]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#text-attr-view");
}

dcpDocument dcpAttribute[type=longtext],dcpDocument[mode=view] dcpAttribute[type=longtext]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#longtext-attr-view");
}

dcpDocument dcpAttribute[type=htmltext],dcpDocument[mode=view] dcpAttribute[type=htmltext]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#htmltext-attr-view");
}

dcpDocument dcpAttribute[type=color],dcpDocument[mode=view] dcpAttribute[type=color]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#color-attr-view");
}
dcpDocument[mode=view] dcpAttribute[type=htmltext] a{
   -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#htmlanchor-attr-view");

}
dcpDocument dcpAttribute[type=int],dcpDocument[mode=view] dcpAttribute[type=int]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#int-attr-view");
}

dcpDocument dcpAttribute[type=double],dcpDocument[mode=view] dcpAttribute[type=double]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#double-attr-view");
}

dcpDocument dcpAttribute[type=money],dcpDocument[mode=view] dcpAttribute[type=money]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#int-attr-view");
}

dcpDocument dcpAttribute[type=timestamp],dcpDocument[mode=view] dcpAttribute[type=timestamp],
dcpDocument dcpAttribute[type=date],dcpDocument[mode=view] dcpAttribute[type=date]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#date-attr-view");
}

dcpDocument dcpAttribute[type=time],dcpDocument[mode=view] dcpAttribute[type=time]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#time-attr-view");
}
dcpDocument dcpAttribute[type=docid],dcpDocument[mode=view] dcpAttribute[type=docid]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#docid-attr-view");
}

dcpDocument[mode=view] dcpAttribute[type=array] dcpAttribute[type=docid][multiple=true] {
-moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#docid-multiple2-attr-view");
}

dcpDocument dcpAttribute[type=docid][multiple=true],dcpDocument[mode=view] dcpAttribute[type=docid][multiple=true]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#docid-multiple-attr-view");
}


dcpDocument dcpAttribute[type=enum],dcpDocument[mode=view] dcpAttribute[type=enum]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#enum-attr-view");
}

dcpDocument dcpAttribute[type=enum][multiple=true],dcpDocument[mode=view] dcpAttribute[type=enum][multiple=true]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#enum-multiple-attr-view");
}

dcpDocument dcpAttribute[type=file],dcpDocument[mode=view] dcpAttribute[type=file]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#file-attr-view");
}

dcpDocument dcpAttribute[type=image],dcpDocument[mode=view] dcpAttribute[type=image]
    {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-view.xml#image-attr-view");
}



/***********************************************************
        Node Attributes (edit)
************************************************************/
dcpDocument[mode=edit] dcpAttribute[type=tab] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-view.xml#tab-attr-view");
}

dcpDocument[mode=edit] dcpAttribute[type=frame] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-view.xml#frame-attr-view");
}

dcpDocument[mode=edit] dcpAttribute[type=array] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-edit.xml#array-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=array] dcpRow{
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-edit.xml#row-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=array] dcpArrayTableTools{
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-edit.xml#array-table-tools");
}

dcpDocument[mode=edit] dcpAttribute[type=array] dcpArrayRowTools{
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/node-attributes-edit.xml#array-row-tools");
}

/***********************************************************
        Attributes (edit)
************************************************************/
dcpDocument[mode=edit] dcpAttribute[type=text] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-edit.xml#text-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=longtext] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-edit.xml#longtext-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=htmltext] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-edit.xml#htmltext-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=int] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-edit.xml#int-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=date] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-edit.xml#date-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=file] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-edit.xml#file-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=image] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-edit.xml#image-attr-edit");
}

dcpDocument[mode=edit] dcpAttribute[type=enum] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/leaf-attributes-edit.xml#enum-attr-edit");
}


dcpDocument[mode=edit] dcpAttribute[type=docid][multiple=false] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/docid-attributes-edit.xml#docid-attr-edit");
}
dcpDocument[mode=edit] dcpAttribute[type=docid][multiple=true] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/docid-attributes-edit.xml#docid-multiple-attr-edit");
}
dcpDocument[mode=edit] dcpAttribute[type=array] dcpAttribute[type=docid][multiple=true] {
    -moz-binding:
        url("chrome://dcpoffline/content/bindings/system/docid-attributes-edit.xml#docid-multiple2-attr-edit");
}