dcpDocument {
	-moz-binding:
		url("chrome://dcpoffline/content/bindings/documents.xml#document");
    display: -moz-box;
    -moz-box-orient: vertical;
}

dcpDocument dcpAttribute {
	display: -moz-box;
	-moz-box-orient: horizontal;
}

dcpDocument dcpAttribute[type=frame] {
	-moz-binding:
		url("chrome://dcpoffline/content/bindings/node-attributes.xml#frame");
}

dcpDocument dcpAttribute[type=text] {
	-moz-binding:
		url("chrome://dcpoffline/content/bindings/leaf-attributes.xml#text");
}

dcpDocument dcpAttribute[type=int] {
	-moz-binding:
		url("chrome://dcpoffline/content/bindings/leaf-attributes.xml#int");
}

dcpDocument dcpAttribute[type=date] {
	-moz-binding:
		url("chrome://dcpoffline/content/bindings/leaf-attributes.xml#date");
}